*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* margin-top: 12px; */
  background-color: #1A0B2E;
  padding-top: 10px;
  padding-bottom: 12px;
  
}
.teach{
   margin-left: 70px; 
   color: #FFFFFF;
}
.wave{
  background-image: linear-gradient( #9100F8, #FB09B4 , #F7E93F );
  background-clip: text;
  color: transparent;
}
.nav-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}
.nav-links{
  text-decoration: none;
  margin-right: 30px;
  color: #FFFFFF;
  font-size: medium;
  font-weight: 16;
  
}
.btn-1{
  margin-right: 80px;
  font-size: medium;
  font-weight: 16;
  padding: 10px;
  background-image: linear-gradient( #9100F8, #FB09B4 , #F7E93F );
  border: none;
  border-radius: 19px;
  color: #FFFFFF;
}

main{
  background-image: url(assets/hero-bg.png);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position:center ;
  /* height: 100vh; */
  
}
.circle{
 position: relative;
 top: 200px;
 left: 70px;
 align-items: center;
 display: flex;
 justify-content: center;
  
}
.mic{
 position: relative;
 top: -70px;
 left: 9px;
 align-items: center;
 display: flex;
 justify-content: center;
}
.new{
  position: relative;
  bottom: 133px;
  right: 120px;
}
.banner-text{
  text-align: center;
  
}
.tw{
  color: #FFFFFF;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 50px;
}
.banner-text p{
  color: #FFFFFF;
  font-weight: 16;
  
}
.banner-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  gap:8px;
  mix-blend-mode: multiply;
  
}
.info{
  text-align: center;
  color: #FFFFFF;
   margin-top: 50px;
}
.info h1{
  font-size: 30px;
}
.info p{
  font-weight: 16;
  padding-top: 16px; 
  
}
.bbp{
  color: #FFFFFF;
  font-weight: 16;
  text-align: center;
  margin-top: 20px;
}
.ww{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  color:#00FF88 ;
}
.pp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
  font-weight: 16;
  padding-top: 8px;
}