*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* margin-top: 12px; */
  background-color: #1A0B2E;
  padding-top: 10px;
  padding-bottom: 12px;
  
}
.teach{
   margin-left: 70px; 
   color: #FFFFFF;
}
.wave{
  background-image: linear-gradient( #9100F8, #FB09B4 , #F7E93F );
  background-clip: text;
  color: transparent;
}
.nav-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}
.nav-links{
  text-decoration: none;
  margin-right: 30px;
  color: #FFFFFF;
  font-size: medium;
  font-weight: 16;
  
}
.btn-1{
  margin-right: 80px;
  font-size: medium;
  font-weight: 16;
  padding: 10px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  border: none;
  border-radius: 19px;
  color: #FFFFFF;
}

main{
  background-image: url(assets/hero-bg.png);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position:center ;
   /* height: 100vh;  */
  
}
.circle{
 position: relative;
 top: 240px;
 left: 70px;
 align-items: center;
 display: flex;
 justify-content: center;
 
}
.mic{
 position: relative;
 top: -25px;
 left: 7px;
 align-items: center;
 display: flex;
 justify-content: center;
}
.new{
  position: relative;
  bottom: 133px;
  right: 120px;
}
.banner-text{
  text-align: center;
  
}
.tw{
  color: #FFFFFF;
  font-weight: bolder;
  /* padding-top: 70px; */
  padding-bottom: 10px;
  font-size: 50px;
  margin-top: 80px;
}
.banner-text p{
  color: #FFFFFF;
  font-weight: 16;
  
}
.banner-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  gap:8px; 
  
  
}
.btn-img{
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
 border-radius: 100px;
 border: none;
 color: #FFFFFF;
 padding: 5px 12px 12px 12px;
 
}
.btnimg{
  background-clip: text;
  color: transparent;
  border-radius: 100px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #00FF88;
  color: #00FF88;
}

.imgi{
  mix-blend-mode: multiply;
  
}
.info{
  text-align: center;
  color: #FFFFFF;
   margin-top: 50px;
}
.info h1{
  font-size: 30px;
}
.info p{
  font-weight: 16;
  padding-top: 16px; 
  
}
.bbp{
  color: #FFFFFF;
  font-weight: 16;
  text-align: center;
  margin-top: 20px;
}
.ww{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  color:#00FF88 ;
}
.pp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
  font-weight: 16;
  padding-top: 8px;
  
}
#about-section{
  padding-bottom: 100px;
}

.about-us {
 background-color: #230E3D;
  
}
.container{
   padding: 20px 200px 120px 200px;
   
}
.c-div{
   padding: 10px 120px 150px 120px; 
  display: grid;
  
  grid-template-areas: 
  
  "box-1 box-2 box-2"
  "box-1 box-3 box-3"
  "box-4 box-4 box-5"
  ;

  
  
  gap: 40px;
}

.box-1{
  grid-area: box-1;
  background-color: #351165;
  border-radius: 30px;
  padding: 20px 40px 20px 10px;
 
}
.box-2{
  grid-area: box-2;
  background-color: #351165;
  border-radius: 30px;
  
}
.box-3{
  grid-area: box-3;
  background-color: #351165;
  border-radius: 30px;
}
.box-4{
  grid-area: box-4;
  background-color: #351165;
  border-radius: 30px;
}
.box-5{
  grid-area: box-5;
  background-color: #351165;
  border-radius: 30px;
}

.b1{
  padding: 20px 3px 30px 30px;
  margin-top: 20px;
  
}
.b2{
  padding:30px 50px 30px 30px;
}
.b3{
  padding:30px 50px 30px 30px;
}
.b4{
  padding:30px 50px 30px 30px;
}
.b5{
  padding: 30px 50px 30px 20px;
}
.wct {
  text-align: center;
  color: #FFFFFF;
  padding-top: 400px;
  
  font-size: 26px;
  
}
#line{
  width: 200px;
  height: 1px;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}